::-webkit-scrollbar {
    width: 7px;
    height: 1px;
}

::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: none;
  background: #858788;
  -webkit-box-shadow: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  border-radius: 1px;
  background: #DDDDDD;
  -webkit-box-shadow: none;
}